<div class="container">
  <h1>See all our submitted cocktails here:</h1>
  <% @cocktails.each do |cocktail| %>
  <ul>
    <li><%= link_to "#{cocktail.name}", cocktail_path(cocktail.id) %></li>
  </ul>
  <% end %>
  <h2><b> <%= link_to "Create new cocktail!", new_cocktail_path %> </b></h2>
</div>
