<div class="container">
  <h1 class="header">Cocktails:</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-4 card-body">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= link_to "#{cocktail.name}", cocktail_path(cocktail.id) %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center">
    <h2><b> <%= button_to "Create new cocktail!", new_cocktail_path, class: "btn-lg btn-primary" %> </b></h2>
  </div>
</div>
