<div class="container">
	<h1>Make new drink for the luvs of the world</h1>
	<%= simple_form_for @cocktail do |f| %>
	  <%= f.input :name %>
    <%= f.input :note, label: 'How it\'s made!' %>
	  <%= f.submit "Give us a name, luv <3 And tell us how it's s'posed to be done!", class: "btn btn-primary" %>
	<% end %>
</div>
