<div class="container">
	<h1>Make new drink for the luvs of the world</h1>
	<%= simple_form_for @cocktail do |f| %>
	  <%= f.input :name %>
	  <%= f.submit "Give us a name, luv <3", class: "btn btn-primary" %>
	<% end %>
</div>
