.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(178deg, rgba(212,13,77,1) 0%, rgba(121,9,118,0.5) 66%, rgba(0,212,255,1) 100%);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 80px;
}
